<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Spring Mongo with jsp</title>
</head>
<body>
<table>
    <h2>OrderProduct</h2>
    <form action="/addproduct" method="POST">
        product <input type="text" id="product" name="product" /><br />
        productName <input type="text" id="productName" name="productName" /><br />
        deliveryDate <input type="text" id="deliveryDate" name="deliveryDate" /><br />
        price <input type="text" id="price" name="price" /><br />
        dispatch <input type="text" id="dispatch" name="dispatch" /><br />
        <input type="submit" />
    </form>
</table>
</body>
</html>